@import "colores.scss";
@import "tipografias.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $negro;

    &:hover {
        color: $color-a-hover;
    }
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 0;
    margin-top: 0;
}





/*BACKGROUND*/


.backgroundcolor-grey {
    background-color: map-get($colores-fondo, gris)
}

.backgroundcolor-black {
    background-color: map-get($colores-fondo, negro)
}

.background-rombo {
    background-image: url(../assets/img/fondo-rombo.jpg);
    background-repeat: repeat;
}




@mixin subrayado-h1($color, $style) {
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-style: $style;
}


@media screen and (min-width: 320px) {


    /* Header/Nav */
    nav {
        background-color: rgb(255, 255, 255, 0.5);
        background-image: linear-gradient(to bottom, transparent 40%, $gris-soft);
        height: 40px;
        position: sticky;
        top: 0px;
        opacity: 90%;
        z-index: 2;

        div {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            font-family: 'Roboto Slab', serif;
            width: 100%;
            font-size: 8px;

            a {
                img {
                    height: 36px;
                    width: 75px;
                }
            }
        }
    }

    .redes {
        width: 100%;
        display: none;
        justify-content: flex-end;
        position: sticky;
        right: 0px;
        top: 15%;
        z-index: 2;
    }

    .headerRedes {
        width: 25px;
        height: 25px;
    }





    /* MAIN */

    main {
        #logo-main {
            width: 100%;
            height: 40px;
            border: 1px solid $negro;
            color: $gris-soft;
            margin-top: 1%;
            margin-bottom: 1%;

            h1 {
                z-index: -1;
                position: absolute;
            }

            img {
                position: relative;
                left: 40%;
                height: 36px;
                width: 75px;
            }
        }

        .video-ejemplo {
            border: dashed 1px $negro-soft;
            border-radius: 15px;
            height: 45%;
            width: 90%;
        }

        .boxNosotros {
            width: 310px;
            height: auto;
            padding: 1rem;
            background-color: $negro;
            border: dashed 1px $blanco;
            border-radius: 20px;
        }

        .parrafo {

            font-family: $roboto;
            font-size: 20px;
            color: $blanco;
            text-align: center;
            background-color: rgb(0, 0, 0, 0.5);
        }
    }



    /* FOOTER */

    footer {
        background-color: rgb(0, 0, 0, 0.8);
        background-image: linear-gradient(to top, transparent 40%, $negro);
        height: 50px;
        width: 100%;

        div {
            display: flex;
            position: absolute;
            align-items: center;
            gap: 10%;
            z-index: 2;

            a {
                color: $blanco;
                text-decoration: none;
                font-family: $roboto;
                text-align: center;
                font-size: 7px;
            }
        }


        ul {
            padding-right: 5%;
            gap: 0.5%;
            position: relative;
            top: 1px;
        }

        li {
            width: 25px;
            height: 25px;
        }

        .footerLogo {
            position: absolute;
            left: 38%;
            height: 38px;
            width: 75px;
        }

        p {
            position: relative;
            top: 80%;
            color: $blanco;
            font-family: $roboto;
            text-align: center;
            font-size: 7px;
        }
    }


    /* ABOUT US*/
    main {

        h1 {
            font-size: 40px;
            font-family: $roboto;
            color: $blanco;
            text-align: center;
            @include subrayado-h1(white, dotted)
        }

    }


    .video-ejemplo--nosotros {
        @extend .video-ejemplo;
        height: auto;
        width: 310px;
    }

}

/* CONTACT US */


.boxContact {
    height: 160px;
    width: 300px;
    margin-top: 3%;
    margin-bottom: 5%;
    border: 2px dashed $blanco;
    border-radius: 20px;
}


.ordenRedes {
    gap: 15px;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 59%;
}

.redesContacto {
    width: 50px;
    height: 50px;
}

.fieldset {
    color: $blanco;
    font-family: $roboto;
    border: 1px dashed $blanco;
    border-radius: 10%;
}

/* PRESUPUESTO */



/* QUINCE */
#fotosQuince {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 10px;
    column-gap: 10px;
    margin-bottom: 10px;

    div {
        img {
            width: 100%;
            border: 1px dashed $blanco;
        }
    }
}



@media screen and (min-width: 768px) {

    /* Header/Nav */

    nav {
        height: 80px;

        div {
            font-size: 15px;

            a {
                img {
                    height: 80px;
                    width: 170px;
                }
            }
        }
    }

    .redes {
        display: flex;
    }


    /* MAIN */

    main {
        #logo-main {
            height: 80px;

            img {
                left: 44%;
                height: 80px;
                width: 170px;
            }
        }

        .boxNosotros {
            width: 320px;
        }
    }

    /* FOOTER */

    footer {
        height: 100px;

        div {

            a {
                font-size: 15px;
            }
        }

        .footerLogo {
            left: 43%;
            height: 75px;
            width: 150px;

            &:hover {
                zoom: 99%;
            }
        }

        p {
            font-size: 14px;
            top: 35%;
        }
    }





    .redes-footer {
        padding-right: 5%;
        gap: 0.5%;
        position: relative;
        top: 1px;
    }


    /* ABOUT US*/


    div {

        .video-ejemplo--nosotros {
            width: 100%;
            height: auto;
        }
    }



    /* CONTACT US*/

    .boxContact {
        height: 160px;
        width: 400px;
        margin-bottom: 5%;
    }

    .ordenRedes {
        top: 55%;
    }

    .fieldset {
        width: 400px;
    }


    /* QUINCE */
    #fotosQuince {
        grid-template-columns: 2fr 2fr;
    }

}

.hover-card:hover{
    filter: blur(5px);
}
